<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'></script>
</head>

<body>
    <div id="app">
        <h1 class="text-center pt-10 text-3xl p-6">Like Pic ({{picCount}})</h1>

        <div class="text-center">
            <span v-if="isSearch" class="material-icons" @click="startSearch">search</span>
            <div v-else>
                <input class=" border-2 w-1/2" v-model="searchField" type="text" placeholder="Search something...">
                <button @click="cancelSearch" class="material-icons">cancel</button>
            </div>
        </div>

        <div class="container px-8 py-2 mx-auto lg:px-4">
            <div class="flex flex-wrap text-center">
                <div v-if="filteredList.length !== 0" class="px-auto py-6 lg:w-1/3 md:w-full "
                    v-for="(pic,i) in filteredList">
                    <div class="bg-white rounded h-full text-grey-darkest no-underline shadow-md w-1/2 "
                        @click="likePic(i)">
                        <h1 class="text-3xl p-6">{{pic.name}}</h1>
                        <img class="w-full block rounded-b" v-bind:src="pic.url" alt="A photo of a fox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            class="mx-auto" v-show="pic.like">
                            <path
                                d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                        </svg>
                    </div>
                </div>
                <div v-else
                    class="w-full bg-white rounded h-full text-grey-darkest no-underline shadow-md ma-auto text-center mt-24">
                    <h1 class="text-7xl">No Image Found</h1>
                </div>
            </div>
        </div>

        <!-- ************************************************************* -->
    </div>

    <!-- my main.js -->

    <script src="./main.js"></script>

</body>

</html>